App_WebReferences/AdvisorSchedule/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdvisorSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdvisorID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WeekNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdvisorScheduleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdvisorScheduleResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WeeksInYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WeeksInYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WeeksInYearResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WeekNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WeekNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WeekNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DayInWeekDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="day" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Week" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DayInWeekDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DayInWeekDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdvisorScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdvisorSchedule" />
  </wsdl:message>
  <wsdl:message name="GetAdvisorScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdvisorScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="WeeksInYearSoapIn">
    <wsdl:part name="parameters" element="tns:WeeksInYear" />
  </wsdl:message>
  <wsdl:message name="WeeksInYearSoapOut">
    <wsdl:part name="parameters" element="tns:WeeksInYearResponse" />
  </wsdl:message>
  <wsdl:message name="WeekNumberSoapIn">
    <wsdl:part name="parameters" element="tns:WeekNumber" />
  </wsdl:message>
  <wsdl:message name="WeekNumberSoapOut">
    <wsdl:part name="parameters" element="tns:WeekNumberResponse" />
  </wsdl:message>
  <wsdl:message name="DayInWeekDateSoapIn">
    <wsdl:part name="parameters" element="tns:DayInWeekDate" />
  </wsdl:message>
  <wsdl:message name="DayInWeekDateSoapOut">
    <wsdl:part name="parameters" element="tns:DayInWeekDateResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdvisorSchedule">
      <wsdl:input message="tns:GetAdvisorScheduleSoapIn" />
      <wsdl:output message="tns:GetAdvisorScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WeeksInYear">
      <wsdl:input message="tns:WeeksInYearSoapIn" />
      <wsdl:output message="tns:WeeksInYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WeekNumber">
      <wsdl:input message="tns:WeekNumberSoapIn" />
      <wsdl:output message="tns:WeekNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DayInWeekDate">
      <wsdl:input message="tns:DayInWeekDateSoapIn" />
      <wsdl:output message="tns:DayInWeekDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdvisorSchedule">
      <soap:operation soapAction="http://tempuri.org/GetAdvisorSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeeksInYear">
      <soap:operation soapAction="http://tempuri.org/WeeksInYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeekNumber">
      <soap:operation soapAction="http://tempuri.org/WeekNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DayInWeekDate">
      <soap:operation soapAction="http://tempuri.org/DayInWeekDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdvisorSchedule">
      <soap12:operation soapAction="http://tempuri.org/GetAdvisorSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeeksInYear">
      <soap12:operation soapAction="http://tempuri.org/WeeksInYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeekNumber">
      <soap12:operation soapAction="http://tempuri.org/WeekNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DayInWeekDate">
      <soap12:operation soapAction="http://tempuri.org/DayInWeekDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:21379/Advisor%20Booking%20Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:21379/Advisor%20Booking%20Service/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>